.container{
	display: grid;
	grid-template-columns: repeat(6,1fr);
	grid-template-rows: 117px 100%
}

/*Posicion de los header y el main*/

#menu_v{
	grid-column-start: 1;
	grid-column-end: 2;
	grid-row-start: 1;
	grid-row-end: 3;
}

#menu_h{
	grid-column-start: 2;
	grid-column-end: 7;
	grid-row-start: 1;
	grid-row-end: 2
}

#principal{
	grid-column-start: 2;
	grid-column-end: 7;
	grid-row-start: 2;
	grid-row-end: 2
}


/*MAIN*/
#principal{
	background: #BCCBD3;
	padding: 30px 30px
}