@media screen and (min-width: 812px){

	#coment_at{
		
		padding: 100px 10px;
	}	


	#asunto_at{
		width: 40%;
		font-size: 1.1rem;
	}

	.btn_at{

		font-size: 1.2rem;
		padding: 1.5% 1.5%;
	}

	.at h2, h3{
		font-size: 1.5rem;
	}

	.at label{
		font-size: 1.5rem
	}
}


@media screen and (min-width: 1080px){
	.btn_at{

		font-size: 1.2rem;
		padding: 1.8% 1.8%;
	}

	
}